/* css to be applied in the main of the body*/
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Hero section css */
.hero {
    /* Red background color */
    background-color: #ff0000;
    text-align: center;
    padding: 60px 0;
    /* White text color */
    color: #fff;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff; /* White button background */
    color: #ff0000; /* Red button text color */
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
}

/* Product showcase css*/
.product-showcase {
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Responsive grid layout */
    gap: 20px;
    padding: 40px;
}
/* css for the demo products*/
.product-item {
    background-color: #f7f7f7; /* Light gray background for product item */
    color: #333;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
/* css for the demo products images to ensure its same height*/
.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* css for the demo products heading */
.product-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 16px;
}

/* css for review box */
.reviews {
    margin: 40px 0;
    background-color: #f7f7f7; /* Light gray background color */
    color: #333;
    padding: 40px;
}

.review {
    background-color: #fff; /* White background for testimonial item */
    color: #333;
    border-radius: 5px;
    padding: 20px;
}

.review blockquote {
    font-size: 24px;
    margin-bottom: 10px;
}

.review cite {
    font-style: italic;
    color: #777;
}

/* About gramophones styles */
.about-gramophones {
    background-color: #ff0000; /* Red background color */
    color: #fff; /* White text color */
    padding: 40px;
}

.about-gramophones h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-gramophones p {
    font-size: 18px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #222; /* Dark gray footer background */
    color: #fff; /* White footer text color */
}


